%p Yo Yo Yo (#{@employee.email})
%p Check it @ #{edit_user_password_url} - 
%p use your email (#{@employee.email}) as your login. your password is #{@generated_password}
%p You will be prompted to change you password once you sign in.