%p Yo Yo Yo (#{@owner.email})
%p 
  Check it @
  = link_to "here", new_user_session_url
%p use your email (#{@owner.email}) as your login. your password is #{@generated_password}
%p We recommend that you change your password once you sign in.