%p Hey #{@employee.email},

%p Since it's a new week, it's time to share what you've been working on with the rest of the company

%p= link_to "Click here to briefly write up what you're working on", employee_question_answer_question(@question)