%p Welcome to the Know Your Company Clone! 
%p This is my attempt at building something that does maybe less than 10% of what the real Know Your Company app does, just to go through the exercise of doing so.

%p
  Sign up for an account
  = link_to "here", sign_up_path
  