%p Welcome to the Know Your Company Clone! 
%p This is my attempt at building something that does maybe less than 10% of what the real Know Your Company app does, just to go through the exercise of doing so. Contact me at krishnan(dot)sid(at)gmail(dot)com if you want to try it out.

%p
  Sign up for an account
  = link_to "here", new_user_registration_path
  